# ==========================================
# DAGSTER (Archivos locales de ejecución)
# ==========================================
.dagster/
dagster_home/

*.db
*.sqlite




# ==========================================
# ENTORNOS VIRTUALES Y PYTHON
# ==========================================
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/


# ==========================================
# PYCHARM / IDEs
# ==========================================
.idea/
.vscode/

